body {
	font-family: "Arial";
	margin: 0;
	padding: 0;
}
.hader0 {
	height: 65px;
	background-color: #1b5589;
	width: 100%;
	box-sizing: border-box;
}
.hader {
	padding-top: 22px;
	margin-left: 70px;
}
.hader a {
	color: #4a8bcb;
	text-decoration: none;
	margin-top: 20px;
	list-style-type: none;
	padding-left: 10px;
}
.hader a:hover {
	font-weight: bold;
	color: #fff;
}
.img {
	text-align: right;
	margin-top: -33px;
	margin-right: 75px;
}
p {
	font-size: 35px;
	text-align: center;
} 
.block1 {
	background-color: #cce5ff;
	width: 90%;
	margin-left: 5%;
	display: inline-flex;
	justify-content: space-between;
}
.block1 p:last-child {
	padding-right: 160px;
	margin-right: 56px;
}
.block1 p:nth-child(2) {
	margin-left: -192px;
}
.block1 p {
	padding-left: 26px;
	color: #386299;
	font-size: 20px;
}
.wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr;
	grid-auto-rows: 50px;
	grid-column-gap: 10px; 
	width: 90%;
	margin-left: 5%;
	margin-top: 40px;
}
input {
	height: 35px;
	width: inherit;
	margin-left: -14px;
	border-radius: 3px;
	border: 1px solid #dee0e2;
}
input[type="password"] {
	margin-left: 14px;
	margin-right: 10px;
}
input[placeholder] {
	padding-left: 10px;
	box-sizing: border-box;
	font-size: 15px;
} 
.column1 {
	width: 100%;
	margin-left: -20px;
}
.column2 {
	width: 100%;
	margin-left: -20px;
	box-sizing: border-box;
}
button {
	height: 35px;
	width: inherit;
	background-color: #6c757d;
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
	border: 1px solid #828990;
	box-sizing: border-box;
}
.blk2 > button {
	width: 70%;
	padding-top: -8px;
}
.blk9 button {
	margin-left: -15px;
}
.blk13 button {
	margin-left: 15px;
}
.blk1 {
	grid-column: 1/2;
	grid-row: 1/5;
}
.blk1 img {
	padding-top: 20px;
	padding-left: 10px;
}
.blk2 {
	grid-column: 1/2;
	grid-row: 4/5;
}
.blk3 {
	grid-column: 2/3;
	grid-row: 1/2;
}
.blk4 {
	grid-column: 2/3;
	grid-row: 2/3;
}
.blk5 {
	grid-column: 2/3;
	grid-row: 3/4;
}
.blk6 {
	grid-column: 2/3;
	grid-row: 4/5;
}
.blk7 {
	grid-column: 2/3;
	grid-row: 5/6;
}
.blk8 {
	grid-column: 2/3;
	grid-row: 6/7;
}
.blk9 {
	grid-column: 2/3;
	grid-row: 7/8;
}
.blk10 {
	grid-column: 3/4;
	grid-row: 1/2;
}